body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filter-show {
  position: absolute; 
  inset: 0px auto auto 0px; 
  margin: 0px; 
  transform: translate(-133px, 48px);
}
.image-hover-wrapper {
    position: relative;
    display: inline-block;
}

.thumb-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hover-img {
    position: fixed; /* 🔥 important */
    width: 200px;
    height: 200px;
    object-fit: contain;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    z-index: 9999; /* 🔥 above all */
    pointer-events: none;
}

.image-hover-wrapper:hover .hover-img {
    display: block;
}
